@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    font-family: 'Open Sans';
    background-color: #f5f6fa;
    padding: 0;
    margin: 0;
}
.content {
    width: 1220px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.carousel {
    width: 1200px;
    min-height: 33%;
    padding-left: 10px;
    padding-right: 10px;
}

.carousel-content {
    background-color: yellow;
    height: 33%;
}

.live-streams,
.hot-clips {
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 33%;
    height: auto;
    background-color: #f5f6fa;
}

.header {
    display: block;
    width: 1200px;
    padding: 10px;
    padding-top: 20px !important;
}

.title {
}

.stream-card {
    width: 224px;
    height: 185px;
    margin: 0px;
    padding: 10px;
    display: inline-block;
}

.stream-card-content {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 6px;
    margin: 0px;
}

.stream-card-thumbnail {
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.stream-card-details {
    padding: 10px;
}

.stream-card-details-title {
    font-size: 14px;
    font-weight: 600;
}

.stream-card-details-description {
    font-size: 14px;
    color: rgba(22, 24, 26, 0.45);
}

.view-more {
    float: right;
    color: #16181a;
    background-color: white;
    outline: 0;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    border: 1px solid #dbe2e9;
    border-radius: 60px;
    padding: 7px 16px 6px 16px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}

.view-more:hover {
    background-color: #dbe2e9;
}