@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body, html {
    height: 100%;
/*    font-family: 'Open Sans';
*/}

a, .abcdef {
  text-decoration: none;
}

#root {
    background-color: #f5f6fa;
}

.section {
    padding-bottom: 10px;
    min-height: 33%;
    height: auto;
    width: 1200px;
    margin: 0 auto;

}

.section .header {
    display: block;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.view-more {
    float: right;
    color: #16181a;
    background-color: white;
    outline: 0;
    border: 1px solid #dbe2e9;
    border-radius: 60px;
    padding: 7px 16px 6px 16px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}

.section .header .view-more:hover {
    background-color: #dbe2e9;
}

.section-list {
    display: flex !important;
    flex-wrap: wrap;
}

.section-list .card {
    flex: 1;
    min-width: 200px;
}

.stream-list {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

.stream-list .header {
    display: flex;
    margin: 0 auto;
}

.header input {
    float: left;
    color: #16181a;
    background-color: white;
    outline: 0;
    border: 1px solid #dbe2e9;
    border-radius: 60px;
    padding: 7px 16px 6px 16px;
    font-size: 12px;
    flex: 8;
    margin-right: 20px;
}

.stream-list .view-more {

}

