.stream-card {
/*    height: 300px;
*/    max-width: 220px;
    margin: 0px;
    padding: 10px;   
}

.stream-card-content {
    display: flex;
    flex-direction: column;
/*    height: 100%;
*/    width: 100%;
    background-color: white;
    border-radius: 6px;
    margin: 0px;
}

.stream-card-thumbnail {
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.stream-card-details {
    padding: 10px;
}

.stream-card-details-title {
    font-size: 14px;
    font-weight: 600;
}

.stream-card-details-description {
    font-size: 14px;
    color: rgba(22, 24, 26, 0.45);
}